div#banner-toolbar.btn-group
    button.btn.btn-default(type='button')
        i.glyphicon.glyphicon-plus
    button.btn.btn-default(type='button')
        i.glyphicon.glyphicon-pencil
    button.btn.btn-default(type='button')
        i.glyphicon.glyphicon-trash
    button.btn.btn-default(type='button')
        i.glyphicon.glyphicon-heart

table#banner-table


