form.m-contactus-form
    div.col-sm-3
        input.form-control(type='text', placeholder='您的姓名')
        input.form-control(type='text', placeholder='您的地址')
    div.col-sm-3
        input.form-control(type='text', placeholder='您的电话')
        input.form-control(type='text', placeholder='您的屋顶面积')
    div.col-sm-4
        textarea.form-control(placeholder='您的需求', rows='5')
    div.col-sm-2
        button.btn.m-contactus-btn(type='button') 马上预约