head
    title #{websitTitle}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href=linkHrefs.bootstrap, rel='stylesheet')
    link(href=linkHrefs.slick, rel='stylesheet')
    link(href=linkHrefs.main, rel='stylesheet')
    