header.navbar.navbar-inverse.navbar-static-top.m-navbar(style={'margin-bottom': '0'})
    div.container
        div.navbar-header
            button.navbar-toggle.collapsed(type='button',data-toggle='collapse',data-target='#topbar-collapse',aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

            a.navbar-brand(href='javascript:void(0);')
                img(src='/images/logo-header.png',alt='logo')/
        nav#topbar-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav
                //- li.active: a.navbar-anchor(href='javascript:void(0)') 主页
                //- li: a.navbar-anchor(href='javascript:void(0)') 服务
                //- li: a.navbar-anchor(href='javascript:void(0)') 视频
                //- li: a.navbar-anchor(href='javascript:void(0)') 热贴
                //- li: a.navbar-anchor(href='javascript:void(0)') 团队
                //- li: a.navbar-anchor(href='javascript:void(0)') 关于言易
                //- li: a.navbar-anchor(href='javascript:void(0)') last one
            ul.nav.navbar-nav.navbar-right.m-navbar-right
                li: a(href='javascript:void(0)') 合作热线：400-6229-666
